.TodoList-title {
  text-align: center;
}
.TodoList-count {
  text-align: center;
}
.TodoList {
  width: 600px;
  margin: 0 auto 0 auto;
  padding-left: 0;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid green;
  color: green;
}

.TodoList__text {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
